<div class="footer">
  <p>Copyright 2021 Peter D. Scott ©   All rights reserved. No image may be partially or totally reproduced for any purpose without the express written consent of the artist</p>
</div>
