<div class="page-body">
  <div class="body-left">
    <%= render 'shared/navbar' %>
  </div>
  <div class="body-right">
    <div class="content">
      <div class="profile-image">
        <%= image_tag "cariboopete.jpg", height: 300 %>
      </div>
      <p>Peter Scott was born and raised in Sardis, B.C. where he spent most of his childhood and teenage years hiking, camping and sketching in the neighboring Cascade Mountain Range.</p>
      <p>In 1977 he entered the Faculty of Education at the University of British Columbia and majored in art under the mentorship of Canadian painter Gordon Appleby Smith, who helped Peter refine his impressionist style of landscape painting. Canadian artists Emily Carr and Toni Onley also greatly influenced his painting style. While attending university Peter worked in the summer months as a tree planter, faller and surveyor for the B.C. Forest Service in the Chilliwack valley area. The inspiration for his artwork came from the glaciers, forests and mountain peaks of that region.</p>
      <p>Throughout the late 1970’s and early 1980’s Peter exhibited and sold his oil and watercolour paintings in the lower mainland. In 1983 Peter and his wife Lori relocated to Quesnel, B.C. where he began a career as a secondary school art educator. From 2007 – 2009 he also taught first and second year level art courses at the College of New Caledonia. Peter retired from teaching in 2012 and relocated to Osoyoos B.C., where he now works as an artist. Since April 2016 Peter has also worked with Vida of San Francisco to incorporate his art into their line of women’s apparel. Peter’s scarves and tops may be viewed <a href="http://shopvida.com/search?q=peter+scott&amp;x=0&amp;y=0" target="_blank">here</a>.</p>
      <p>For the past forty years Peter has been teaching art, painting and showing his work in exhibitions throughout British Columbia. His work reflects the vast and varied landscape of his home province. Peter continues to show his work in various group and one man shows and sells his work to private collectors.</p>
    </div>
  </div>
</div>

