<div class="page-body">
  <div class="body-left">
    <%= render 'shared/navbar' %>
  </div>
  <div class="contact-body">
    <div class="image">
      <%= image_tag "2010-2019/hanging_lake_cerulean_18x24_acrylic.jpg", height: 450 %>
      <!-- <p>"Hanging Lake Cerulean"</p> -->
    </div>
    <div class="info">
      <h2>Peter Scott</h2>
      <p>peterdscott7@gmail.com</p>
      <p>P.O. Box 157</p>
      <p>Osoyoos, BC</p>
      <p>V0H 1V0</p>

      <p>For inquiries please contact via <a href="mailto:&#112;&#101;&#116;&#101;&#114;&#100;&#115;&#99;&#111;&#116;&#116;&#55;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">email</a> or via <a href="https://www.facebook.com/pages/Peter-Scott-Art/527717683973701">facebook</a></p>
    </div>
      <div class="footer">
        <%= render 'shared/footer' %>
      </div>
  </div>
</div>
