<div class="page-body">
  <%= render 'shared/navbar' %>
  <div class="body-right">
    <table class="cv">
    <th class="title" colspan="2">Curriculum Vitae</th>
      <tr>
      <th colspan="1">Education</th>
      </tr>
      <tr>
      <td>1977 - 1982 </td>
      <td>Bachelor of Art Education (Sec.), University of British Columbia</td>
      </tr>
     <tr>
      <th colspan="1">Exhibitions</th>
      </tr>
      <tr>
      <td>2019 October</td>
      <td>Night of the Storm, solo exhibition, Artists on Main</td>
      </tr>
      <tr>
      <td>2018 Nov - Dec</td>
      <td>Winter Solstice, group exhibition, Artists on Main</td>
      </tr>
      <tr>
      <td>2018 October</td>
      <td>Autumn Colours, group exhibition, Artists on Main</td>
      </tr>
      <tr>
      <td>2018 May - Sep</td>
      <td>Spring - Summer Group Show, group exhibition, Artists on Main</td>
      </tr>
      <tr>
      <td>2017 Nov - Dec</td>
      <td>Winter Explorations, group exhibition, Artists on Main</td>
      </tr>
      <tr>
      <td>2017 October</td>
      <td>Fall Expressions, group exhibition, Artists on Main</td>
      </tr>
      <tr>
      <td>2017 May - Sep</td>
      <td>Summer Sun, group exhibition, Artists on Main</td>
      </tr>
      <tr>
      <td>2017 January</td>
      <td>Driven to Abstraction, group exhibition, Osoyoos Gallery, Osoyoos, B.C.</td>
      </tr>
      <tr>
      <td>2016 December</td>
      <td>Christmas Market Fair, group exhibition, Osoyoos Gallery, Osoyoos, B.C.</td>
      </tr>
      <tr>
      <td>2016 October</td>
      <td>Artists on Main, group exhibition, Osoyoos Gallery, Osoyoos, B.C.</td>
      </tr>
       <tr>
      <td>2016 August</td>
      <td>The Spirit of Art, group exhibition, Spirit Ridge Hotel, Osoyoos, B.C.</td>
      </tr>
       <tr>
      <td>2016 July</td>
      <td>The Spirit of Art, group exhibition, Spirit Ridge Hotel, Osoyoos, B.C.</td>
      </tr>
      <tr>
      <td>2016 April</td>
      <td>Burrowing Owl Winery, group exhibition, Oliver, B.C.</td>
      </tr>
       <tr>
      <td>2015 December</td>
      <td>Christmas Exhibition, Osoyoos Art Gallery, group show</td>
      </tr>
       <tr>
      <td>2015 June - Sep</td>
      <td>Summer Show, Osoyoos Art Gallery, group show</td>
      </tr>
      <tr>
      <td>2015 March</td>
      <td>Impressionist Landscapes, Osoyoos Gallery, one man show</td>
      </tr>
      <tr>
      <td>2014 December</td>
      <td>Winter Show, Osoyoos Gallery, group show</td>
      </tr>
      <tr>
      <td>2014 August</td>
      <td>The Spirit of Art, Spirit Ridge Hotel, Osoyoos, group show</td>
      </tr>
     <tr>
      <td>2014 August</td>
      <td>Okanagan Skies 2, Front Street Gallery, Penticton, one man show</td>
      </tr>
      <tr>
      <td>2014 July</td>
      <td>Spirit of Art 1, Spirit Ridge Hotel, Osoyoos, group show</td>
      </tr>
      <tr>
      <td>2014 July - Aug</td>
      <td>Summer Show, Osoyoos Gallery, Osoyoos, group show</td>
      </tr>
      <tr>
      <td>2014 May</td>
      <td>Okanagan Skies 1, Front Street Gallery, Penticton, one man show</td>
      </tr>
      <tr>
      <td>2014 May</td>
      <td>Montakarn Winery, Oliver, group show</td>
      </tr>
      <tr>
      <td>2014 April</td>
      <td>Burrowing Owl Spring Exhibition, Oliver, group show</td>
      </tr>
      <tr>
      <td>2014 March</td>
      <td>Ella Restaurant - Spring Exhibition, Osoyoos, group show</td>
      </tr>
      <tr>
      <td>2014 February</td>
      <td>Anti-Bullying Exhibition, Penticton Gallery, Penticton, group show</td>
      </tr>
      <tr>
      <td>2014 January</td>
      <td>Gold Hill Winery, Osoyoos, group show</td>
      </tr>
      <tr>
      <td>2013 Nov - Dec</td>
      <td>Xmas Exhibition, Osoyoos Gallery, group show</td>
      </tr>
      <tr>
      <td>2013 August</td>
      <td>The Spirit of Art Exhibition, Osoyoos, group show</td>
      </tr>
      <tr>
      <td>2013 May - Aug</td>
      <td>Summer Exhibition, Osoyoos Art Gallery, Osoyoos, group show</td>
      </tr>
      <tr>
      <td>2013 April</td>
      <td>Burrowing Owl Exhibition, Oliver, group show</td>
      </tr>
      <tr>
      <td>2012</td>
      <td>Xmas Exhibition, Osoyoos Art Gallery, Osoyoos, group exhibition</td>
      </tr>
      <tr>
      <td>2012</td>
      <td>Xmas Exhibition, Penticton Gallery, Penticton, group show</td>
      </tr>
      <tr>
      <td>2012</td>
      <td>Summer Exhibition, Osoyoos Art Gallery, Osoyoos, group show</td>
      </tr>
      <tr>
      <td>2012</td>
      <td>Spring Show, Burrowing Owl Winery, Oliver, group show</td>
      </tr>
       <tr>
      <td>2011 </td>
      <td>A True and Honest Look, Woodside Gallery, Harrison Mills, one man show</td>
      </tr>
      <tr>
      <td>2010</td>
      <td>Gala Opening Exhibition, Chilliwack Cultural Center, Chilliwack, juried group show</td>
      </tr>
       <tr>
      <td>2009</td>
      <td>Cromarty Family Exhibition, Quesnel Gallery, Quesnel, group show</td>
      </tr>
      <tr>
      <td>2006 </td>
      <td>A Look At Northern B.C., Ginger Jar Gallery, Wells, group show</td>
      </tr>
       <tr>
      <td>2005</td>
      <td>Three Generations, Wells  Gallery, Wells, group show</td>
      </tr>
      <tr>
      <td>2005</td>
      <td>Arts Fest 2005, Williams  Lake Gallery, Williams Lake, juried group show</td>
      </tr>
      <tr>
      <td>2004</td>
      <td>Triple Vision Exhibition, Heartland  Gallery, Quesnel, group show</td>
      </tr>
   <tr>
      <td>2001</td>
      <td>True to the Heart Exhibition, Quesnel Gallery, Quesnel, group show</td>
      </tr>
      <tr>
      <th colspan="2">Teaching Experience</th>
      </tr>
      <tr>
      <td>2009 - 2011</td>
      <td>Art educator, Dragon Lake Elementary School</td>
      </tr>
      <tr>
      <td>2007 - 2009</td>
      <td>Instructor,  College of New Caledonia, Quesnel</td>
      </tr>
      <tr>
      <td>2002 - 2009</td>
      <td>Art  Dept. Head and Art Educator, Quesnel Secondary School, Quesnel</td>
      </tr>
      <tr>
      <td>1983 - 2002</td>
      <td>Art  Dept. Head and Art Educator, Maple Drive Junior Secondary School, Quesnel</td>
      </tr>
      <tr>
      <th colspan="2">Professional Organizations</th>
      </tr>
      <tr>
      <td colspan="2">Member: B.C.T.F.</td>
      </tr>
      </table>
  </div>
</div>
