<div class="page-body">
  <%= render 'shared/navbar' %>
  <div class="body-right">
    <div class="feature-image">
      <%= image_tag "2020-present/01_MountSlesse-NightoftheStorm_lg.jpg" %>
      <p>“Mount Slesse - Night of the Storm”</p>
    </div>
  </div>
</div>
<div class="footer">
  <%= render 'shared/footer' %>
</div>


