<div class="page-body">
  <div class="body-left">
    <%= render 'shared/navbar' %>
  </div>
  <div class="body-right">
    <div class="leftCol">
      <div class="images">
        <p><%= image_tag "snowshoe_pete.jpg", height: 500 %></p>
        <p><%= image_tag "pete_ok_sun_sm.jpg", height: 500 %></p>
      </div>
      <p>The inspiration for my paintings/drawings comes from various areas of the province of British Columbia, Canada.</p>
      <p>I was born and raised in Chilliwack B.C., at the base of the beautiful Cascade Mountain Range. I spent my youth hiking, climbing and camping amongst these majestic mountains.  I came to regard these mountain peaks as my friends, each having their own personalities. The First Nations Sto:lo people have legends and stories of these mountains, I use the original names for the titles of my paintings.
      Tree planting, surveying and working in this spectacular vista gave me the inspiration for all my early paintings and this area of the province continues to inspire me.</p>
      <p>After having graduated from the University Of British Columbia with a Bachelors Degree in Art Education in 1982, I relocated to the Cariboo region of central British Columbia where I resided as an art educator and landscape painter for thirty years.</p>
      <p>The Cariboo became part of my soul and I spent my time canoeing, fishing, hiking, snowshoeing and camping in this colourful, awe inspiring region. For thirty years my acrylic, oil and watercolour paintings depicted the gold creeks, frozen lakes, forests and mountains of the Quesnel/Barkerville area. </p>
      <p>In 2012 I left the Cariboo and moved to Canada’s only desert region, the Southern Okanagan of British Columbia. This part of the province has a completely different landscape from the rest of the country as it is classified as a “pocket desert”. The beautiful skies, lakes and desert areas have inspired my recent works.
      Since April of 2016 my paintings have been used by Vida Fashions, a clothing company based in San Francisco, California, U.S.A. for their line of women’s apparel. My designs can be viewed at this <a href="http://shopvida.com/search?q=peter+scott&amp;x=0&amp;y=0" target="_blank">link</a>.</p>
      <p>I hope you enjoy viewing my work on this web site.
      I exhibit my paintings at the Art Gallery Osoyoos in Osoyoos B.C., the Front Street Gallery in Penticton and various wineries in the Southern Okanagan.</p>
      <p>My paintings can be ordered by contacting at me peterdscott7@gmail.com, prices do not include shipping. My clothing designs can be ordered online at the <a href="http://shopvida.com/search?q=peter+scott&amp;x=0&amp;y=0" target="_blank">Vida</a> site.</p>
      <p>Peter Scott</p>
      <hr />
      <p>In case you missed them, Peter has been featured in the following publications:</p>
      <ul>
        <li class="news">The Osoyoos Times - <a href="http://www.osoyoostimes.com/local-painter-holds-solo-show-osoyoos-gallery/" target="_blank">article 1</a> and <a href="http://www.osoyoostimes.com/osoyoos-painter-peter-scott-opens-show-penticton/" target="_blank">article 2</a>.</li>
        <li class="news">Okanagan Sun (see pic above) - view article <a href="http://issuu.com/okanagansun/docs/okanagan_sun__mar_2015_cb9177e474dabf" target="_blank">here.</a></li>
        </ul>
    </div>
  </div>
</div>

