<div class="page-body">
  <div class="body-left">
    <%= render 'shared/navbar' %>
  </div>
  <div class="gallery">
    <div class="slideshow-container">

  <!-- Full-width images with number and caption text -->

      <div class="mySlides fade">
        <%= image_tag "2021/sunrise-over-the-border-peaks.JPG", width: 600 %>
        <div class="text">
          <p>"Sunrise Over the Border Peaks"</p>
          <p>20 x 24"</p>
          <p>Sold</p>
        </div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2021/the-old-sentinels.JPG", width: 600 %>
        <div class="text">"
          <p>"The Old Sentinels"</p>
          <p>20 x 44"</p>
          <p>Sold</p></div>
      </div>

      <div class="mySlides fade">
        <%= image_tag "2021/the-sky-is-crying-mt-tamahi.JPG", width: 600 %>
        <div class="text">
          <p>"The Sky is Crying, Mt. Tamahi Glacier"</p>
          <p>24 x 36"</p>
          <p>$1100</p>
        </div>
      </div>



<!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <!-- The dots/circles -->
      <div class="dot-row" style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div>
  </div>
</div>

