.navbar {
  width: 130px;
  height: 95vh;
  padding:  36px 24px;
  margin-right: 16px;
  font-family: 'Montserrat', sans-serif;

  a {
    text-decoration: none;
    color: #5e5d5d;
}

a:hover {
    color: black;
}

  .navbar-top {
    padding-bottom: 36px;
  }

  .gallery-links {
    padding-bottom: 16px;
  }
}
