.leftCol {
  text-align: left;
  // width: 50%;
  float: left;
  margin-top: 0px;
  margin-right: 16px;
}

.images {
  float: left;
  margin-right: 16px;
  margin-top: 0px;
}

li {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
}

// img {
//   max-width: 50%;
// }
